:root {
    --color1: #193498;
    --color2: #113CFC;
    --color3: #1597E5;
    --color4: #69DADB;
}

@font-face {
    font-family: "raleway";
    src: url("../font/Raleway-VariableFont_wght.woff2") format("woff2"),
    url("../font/Raleway-VariableFont_wght.woff") format("woff");
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

* {
    font-family: 'raleway';
    font-weight: bold;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.error {
    background-color: rgba(255, 255, 255, 0.39);
    margin: 0 auto;
    color: #a80000;
    text-decoration: underline;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.1rem;
}

/* header */

header {
    height: 100px;
    background-color: var(--color1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 65px;
    margin-left: 5rem;
}

.left_header {
    margin-left: 1rem;
}

.right_header div {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.right_header a {
    transition: all 0.7s;
    padding: 1rem;
    border-radius: 25px;
    color: white;
}

.right_header a:hover {
    transition: all 0.7s;
    background-color: white;
    color: black;
}

.right_header i {
    margin-right: 5px;
}

/* FOOTER */

html {

    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

footer {

    width: 100%;
    height: 100px;
    display: flex;
    background-color: var(--color1);
    justify-content: center;
}

footer i {
    margin-right: 3px;
}

body {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
}


footer div {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a:hover {
    transition: all 0.7s;
    background-color: white;
    color: black;
    padding: 15px;
}

footer a {
    transition: all 0.7s;
    border-radius: 25px;
    color: white;
}


/* page de connexion */

.wrap_page_connexion {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

main {
    padding-bottom: 180px;
}

.main_connexion {
    background: url("../img/background/vaccin-Covid.jpg") no-repeat center center/cover;

}

main label {
    color: white;
    font-size: 1.4rem;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
}

.partie_left {
    margin-top: 4rem;
    width: 50%;
}

.contenue_left {
    background-color: rgba(157, 162, 194, 0.62);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;

}

.partie_right {
    padding: 3rem;
    width: 50%;
}

.formulaire_connexion {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--color1);
    padding: 2rem;
    border-radius: 30px;
}

.form_input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form_input input {
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    padding-left: 1rem;
    height: 40px;
    font-size: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.force_droite {
    text-align: end;
}

.formulaire_connexion .input_submit {
    width: 200px;
    background-color: #fff200;
    border: none;
    margin: 0 auto;
    font-size: 25px;
    padding: 1rem;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.formulaire_connexion .input_submit:hover {
    cursor: pointer;
}


.perso_error_submit {
    text-align: center;
    margin-top: 0.4rem
}

.password_forgot, .inscription a {
    margin-top: 0.2rem;
    text-decoration: underline;
}

.inscription {
    margin-top: 0.5rem;
    color: white;
}

.partie_left p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.7rem;
}

/* PAGE CONTACT */

.wrap_bloc {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 100px;
}
.wrap_contact {
    width: 100%;
    max-width: 700px;
    /* margin: 0 auto; */
    padding: 0 1rem;  
}

.wrap_contact i {
    margin-right: 5px;
}

.wrap_contact img {
    height: 100%;
    width: 100%;
}

 .background_contact {
<<<<<<< HEAD
    background: url(../img/background/call.jpg) center/cover no-repeat  ;
=======
    background: url(../img/background/call.jpg) center/cover no-repeat ;
>>>>>>> 09b1ac2d3e628191267c2519f7daea7831a8e5f8
   
    
   
} 
.wrap_contact h2 {
    margin: 1rem 0rem;
    text-align: center;
}

#formulaire_general input, textarea, select {
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

#formulaire_general label {
    display: block;
    color: white;
    padding: 10px 0px;
}

#formulaire_general textarea {
    resize: none;
    min-height: 100px;
}

#formulaire_general .bouton {
    background-color: #fff200;
    border: none;
    border-radius: 40px;
    margin: 1rem 0rem;
}

#formulaire_general .bouton:hover {
    border: 2px solid blue;
}

.wrap_contact input[type=text], textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.wrap_contact input:focus, textarea:focus {
    background-color: black;
    color: white;
}

::placeholder {
    font-size: 1rem;
    opacity: 1;
    color: white;

}

/* PAGE MENTIONS */

.mentions {

    margin: 0 auto;
    max-width: 1200px;
    padding: 3rem 4rem;
    background: white;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.mentions a {
    color: black;
}

.mentions h2 {
    padding: 1.2rem;
    color: var(--color2);
}

.background_mentions {
    background-color: #EFEEEC;
}

.background_mentions footer {
    position: initial;
}

/* PAGE DASHBOARD */
.background_dashboard {
    
        background-color: #FFE5D9;
    
}
.header_admin {
    background-color: #B6594A;
}

.wrap_dashboard {
            display: flex;
            justify-content: center;
            padding: 10rem;
            gap: 7rem;
            align-items: center;
            align-content: center;
            padding: 200px 100px;
            flex-wrap: wrap;

}

.wrap_dashboard a {
    color: black;
}

.wrap_dashboard p {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: white;

}

.card a {
    color: black;

}

.card1 {

    background-color: var(--color2);
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .5s;
}

.card1:hover, .card2:hover, .card3:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    border: 5px solid white;
    border-radius: 10px;
}

.card2 {
    background-color: #00b894;
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .5s;
}

.card3 {
    background-color: rgb(195, 0, 255);
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .5s;
}

#icones {
    display: flex;
    justify-content: center;
    color: white;

}


/* PAGE USERS */
table {
   
    table-layout: fixed;
}

table a {
    color: black;
}

td, th {
    border: 1px solid #000000;
    padding: 8px;
}

td {
    text-align: center;
    word-break: break-word;
}
/* TEST */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 2rem;
    
  }
  
  
  
  
  
  
  
  
  


/* TEST */

thead {
    background: #F2B166;
    color: white;
}

.vaccins thead {
    background-color: #F2B166;
}

.retour {
    display: flex;
    justify-content: center;
    color: black;
    background: #F2B166;
    color: white;
    width: 260px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
    font-size: 24px;
}

.retour:hover {
    color: var(--color1);
}
.wrap_users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 0rem 2rem;
}
.wrap_users a {
    color: black;
}

.wrap_users h2 {
    padding: 1rem 0rem;

}

.wrap_users h1 {
    text-align: center;
    padding: 1rem 0rem;
}

.back_button a {
    color: black;
}
.okay p {
     
        margin: 1rem 5rem;
    
}

/* SHOW */

.contenu {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 3.5rem;
    margin-top: 5rem;
    font-size: 2rem;
    border-radius: 40px;
    border: none;
    background-color: var(--color3);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;

}

.wrap_show {
    display: flex;
    justify-content: center;
}

.wrap_show h1 {
    text-align: center;
    margin: 2rem 0rem;
}

/* UPDATE */

.wrap_update {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 5rem;
}

.wrap_update h1 {
    text-align: center;
    padding: 1rem;
}

.wrap_update h3 {
    margin: 1rem 0rem;
}

form {
    background: var(--color3);
    padding: 3rem 2rem;
    border-radius: 40px;
}

/* PAGE INSCRIPTIONS */

#formulaire_inscription .form_input {
    width: 60%;
    margin: 0 auto;
}

.wrap_page_inscription {
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.general_div_inscription {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.cgu {
    font-size: 16px;
}

.perso_input {
    flex-direction: row;
    align-items: center;
    width: 67% !important;
}

.perso_input label {
    margin-top: 1rem;
}

.submit_registration {
    background-color: #fff200;
}

#password {
    position: relative;
}

.show_pop_up_mdp {
    position: absolute;
    bottom: 340px;
    right: 330px;
    width: 257px;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}

.cacher {
    display: none;
}

.d_on {
    display: block;
}

/* page accueil user */
.main_accueil_user {
    margin-top: 1rem;
}

.wrap_accueil_user {
    display: flex;
    margin-top: 1rem;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}

.one_box {
    padding: 1rem;
    width: 750px;
    margin-left: 1rem;
    background-color: var(--color3);
    border-radius: 10px;
}

.all_button {
    display: flex;
    flex-direction: column;
}

.all_button button {
    padding: 1rem;
    margin-bottom: 1rem;
}

.one_box h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

#block2 h2 {
    text-align: center;
}

#block2 span {
    margin-right: 5rem;
}

#block2 p {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;

}

.titre_3 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

/* PAGE SHOW VACCINS*/

.wrap_show_vaccin {
    background-color: var(--color1);
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 100%;
    width: 1000px;
    /*border: 1px solid black;*/
    border-radius: 15px;
}

.sous_wrap_vaccin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.one_show {
    border-radius: 15px;
    background-color: var(--color3);
    margin: 1rem;
    /*border: 1px solid red;*/
    /*height: 200px;*/
    width: 400px;
    padding: 1rem;
}

/* pagination */
.pagination {
    text-align: center;
}

.bouton_pagination {
    margin-right: 0.5rem;
    color: white;
    font-size: 1.2rem;
}

.bouton_clicker {
    margin-right: 0.5rem;
    color: grey;
}

/* PAGE MDP OUBLIéE */

.wrap_forgot_mdp {
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
}

#forgot_mdp ::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input[type=submit] {
    cursor: pointer;
}

/* BURGER */

#check, .checkbtn {
    display: none;
}

.burger {
    display: flex;
}


/* RESPONSIVE */

@media (max-width: 600px) {
    /* MOBILE */
    /* NAVBAR */
    header img {
        margin-left: 1rem;
    }

    .nav_burger {
        position: relative;
    }

    .checkbtn {
        display: block;
        margin-right: 5rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 20px;
        color: black;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .burger {
        background-color: var(--color3);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #password {
        position: inherit;
    }

    /* Login */
    .wrap_page_connexion {
        width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    #formulaire_inscription .form_input {
        width: 100%;

    }

    .partie_left, .partie_right {

        padding: 0rem 30px;
        width: 400px;

    }

    .partie_left p {
        text-align: center;
        margin-top: 2rem;
        font-size: inherit;
        line-height: inherit;
    }

    main h1 {
        font-size: 27px;
    }

    main label {
        font-size: initial;
    }

    footer div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        gap: 14px;
        padding: 0rem 15px;

    }

    /* INSCRIPTION */
    .wrap_page_inscription {
        max-width: 90%;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding-top: 1rem;
    }

    /* Dashboard */
    header {

        width: 660px;

    }

    .card1, .card2, .card3 {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .wrap_dashboard {

        display: flex;
        flex-direction: column;
    }

    input#date_de_naissance {
        width: 100%;
    }

    label.cgu {
        margin-left: 1rem;

    }
    /* Page Utilisateur*/
    .one_box h2{
        font-size: 25px;
        text-align: center;
    }
    .one_box h3 {
        font-size: 20px;
    }
    .one_box p, .one_box a {
        font-size: 15px;
    }
<<<<<<< HEAD
    /* CONTACT */
    .background_contact {
        background: initial;
    }
    footer {
        position: initial;
    }
    .wrap_contact {
        margin-bottom: 2rem;
        max-width: 350px;
    }
    
}
=======
>>>>>>> 09b1ac2d3e628191267c2519f7daea7831a8e5f8

    /* CONTACT */

    .wrap_contact {
        
        margin-bottom: 2rem;
        max-width: 100%;
        width: 90%;
        padding: initial;
    }
    footer {
        position: initial;
      
    }
    form {
        padding: 0.5rem 2rem;
    
    }
    .background_contact {
        background: initial;
    }
   
   
    
    /* MENTIONS */

    .mentions {
        padding: 0rem 15px;
        background: white;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .background_mentions {
        background-color: initial;
    }
    .background_mentions ul {

        width: 65%;
    }
    footer div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: -15px;
        font-size: 12px;
        padding-top: 9px;
        padding-bottom: 9px;
        flex-direction: column;
    }
    footer {
        width: 100%;
        height: 115px;
        display: flex;
        background-color: var(--color1);
        justify-content: center;
    }
    

}

@media screen and (max-width: 350px) {
    /* PETIT MOBILE */
    /* NAVBAR */
    
    .checkbtn {
        display: block;
        margin-right: 8rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    .contenue_left {

        margin: 0rem 1rem;
    }

    .formulaire_connexion {

        margin: 2rem 1.5rem;
    }

    /* INSCRIPTION */
    .wrap_page_inscription {
        max-width: 100%;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding-top: 1rem;
    }

    #formulaire_inscription .form_input {
        width: 100%;

    }

    label.cgu {
        margin-left: 1rem;
        font-size: 10px;
    }

    input#date_de_naissance {
        width: 100%;
    }

    i.fas.fa-undo {
        margin-left: 1rem;
    }


}
@media (min-width: 350px) and (max-width: 550px) {
    .wrap_bloc {
        padding: 0rem 0rem;
    }
}
@media screen and (max-width: 500px) {
    .main_accueil_user {
        text-align: center;
    }
    .main_accueil_user .all_button {
        display: none;
    }
    .wrap_accueil_user {
        justify-content: center;
    }
    .one_box {
        display: block;
    }
    #block2 p {
        font-size: 15px;
    }
    .main_accueil_user .wrap_page_inscription {
        width: 300px;
    }
    .main_accueil_user .wrap_page_inscription form{
        padding: 0;
    }
    .main_accueil_user form .form_input {
        align-items: center;
    }
    .main_accueil_user select, .main_accueil_user input {
        width: 80%;
    }
}


@media screen and (min-width: 900px) {
    /* TABLETTE */
    main {
        padding-bottom: 44vh;
    }

    .formulaire_connexion {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        background-color: var(--color1);
        padding: 2.8rem;
        border-radius: 30px;
    }
    /* DASHBOARD */

  
}

@media (min-width: 760px) and (max-width: 800px) {
    /* IPAD PRO */
    .contenue_left {
        background-color: rgba(157, 162, 194, 0.62);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        border-radius: 30px;
    }

    main {
        padding-bottom: 256px;
    }

}

@media (max-width: 950px) {
    .one_box {
        width: auto;
    margin-bottom: 1rem;
    }
}


@media screen and (max-width: 290px) {
    /* Galaxy Fold */
    /* LOGIN */
    .formulaire_connexion {
        margin: 2rem 2.5rem;
    }

    .contenue_left {
        margin: 0rem 2.5rem;
    }

    form label, form a, .inscription.force_droite {
        font-size: 14px;
    }

    .formulaire_connexion .input_submit {
        width: 135px;
        font-size: 14px;
        padding: 0.5rem;


    }

    .partie_left p {
        font-size: 14px;
    }

    main h1 {
        font-size: 20px;
    }

    .checkbtn {
        margin-right: 10rem
    }

    ul {
        top: 99px;
    }

    /* INSCRIPTION */
    .form_input input {
        font-size: 14px;
    }
}
