:root {
    --color1: #193498;
    --color2: #113CFC;
    --color3: #1597E5;
    --color4: #69DADB;
}

@font-face {
    font-family: "raleway";
    src: url("../font/Raleway-VariableFont_wght.woff2") format("woff2"),
        url("../font/Raleway-VariableFont_wght.woff") format("woff");
}
a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

* {
    font-family: 'raleway';
    font-weight: bold;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.error {
    background-color: rgba(255, 255, 255, 0.39);
    margin: 0 auto;
    color: #a80000;
    text-decoration: underline;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.1rem;
}

/* header */

header {
    height: 100px;
    background-color: var(--color1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_header {
    margin-left: 1rem;
}

.right_header div {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.right_header a {
    transition: all 0.7s;
    padding: 1rem;
    border-radius: 25px;
    color: white;
}

.right_header a:hover {
    transition: all 0.7s;
    background-color: white;
    color: black;
}

/* FOOTER */

html {

    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}


footer {

    width: 100%;
    height: 100px;
    display: flex;
    background-color: var(--color1);
    justify-content: center;
}
body {position: relative;}
footer {position: absolute; bottom: 0;}


footer div {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* page de connexion */

.wrap_page_connexion {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

main {
    background: url("../img/background/vaccin-Covid.jpg") no-repeat center center/cover;
    padding-bottom: 100px;
}

main label {
    color: white;
    font-size: 1.4rem;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
}

.partie_left {
    margin-top: 4rem;
    width: 50%;
}
.contenue_left {
    background-color: rgba(157, 162, 194, 0.62);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;

}

.partie_right {
    padding: 3rem;
    width: 50%;
}

.formulaire_connexion {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--color1);
    padding: 2rem;
    border-radius: 30px;
}

.form_input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form_input input {
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    padding-left: 1rem;
    height: 40px;
    font-size: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.force_droite {
    text-align: end;
}

.formulaire_connexion .input_submit {
    width: 200px;
    background-color: #fff200;
    border: none;
    margin: 0 auto;
    font-size: 25px;
    padding: 1rem;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.formulaire_connexion .input_submit:hover {
    cursor: pointer;
}


.perso_error_submit {
    text-align: center;
    margin-top: 0.4rem
}

.password_forgot, .inscription a {
    margin-top: 0.2rem;
    text-decoration: underline;
}

.inscription {
    margin-top: 0.5rem;
    color: white;
}

.partie_left p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.7rem;
}

/* PAGE CONTACT */

.wrap_contact {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
  
}
.wrap_contact h3 {
    margin: 1rem 0rem;
}
#formulaire_contact input,textarea,select {
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

#formulaire_contact label {
    display:block;
    color: white;
}

#formulaire_contact textarea {
    resize: none;
    min-height: 100px;
}

#formulaire_contact .bouton {
    background-color: #fff200;
    border: none; 
    border-radius: 40px;
    margin: 1rem 0rem;
}

::placeholder {
    font-size: 1rem;
    opacity: 1;
}

/* PAGE MENTIONS */

.mentions {
    
    margin: 0 auto;
    max-width: 1200px;
    padding: 3rem 0rem;
}
.mentions a {
    color: black;
}
.mentions h2 {
    padding: 1.2rem;
    color: var(--color2);
}
/* PAGE DASHBOARD */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 0rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5rem;
    font-size: 1.5rem;
  }
  table a {
      color: black;
  }
  
  td, th {
    border: 1px solid #000000;
    padding: 8px;
  }
  td {
      text-align: center;
  }
thead {
    background: var(--color3);
    color: white;
}
  .retour {
    display: flex;
    justify-content: center;
    color: black;
    background: var(--color4);
    color: white;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 40px;
  }
  .retour:hover {
      color: var(--color1);
  }
  
  /* SHOW */

  .contenu {
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      padding: 3.5rem;
      margin-top: 5rem;
      font-size: 2rem;
      border-radius: 40px;
      border: none;
      background-color: var(--color3);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      color: white;
      
  }
  .wrap_show {
    display: flex;
    justify-content: center;
  }
  .wrap_show h1 {
      text-align: center;
      margin: 2rem 0rem;
  }
  /* UPDATE */

  .wrap_update {
    width:100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 5rem;
}
.wrap_update h3 {
    margin: 1rem 0rem;
}
form {
    background: var(--color3);
    padding: 2rem;
    border-radius: 40px;
}


/* PAGE INSCRIPTIONS */

#formulaire_inscription .form_input{
    width: 60%;
    margin: 0 auto;
}

.wrap_page_inscription {
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.general_div_inscription {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.cgu {
    font-size: 16px;
}

.perso_input {
    flex-direction: row;
    align-items: center;
    width: 67%!important;
}
.perso_input label {
    margin-top: 1rem;
}

.submit_registration {
    background-color: #fff200;
}

#password {
    position: relative;
}
.show_pop_up_mdp {
    position: absolute;
    bottom: 20%;
    right: 15%;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}

.cacher {
    display: none;
}
